<footer id="footer" class="container-fluid text-center p-4">
  <div class="row">
    <!--Logo-->
    <a href="#" class="logo"><i class='bx bxs-shopping-Roupas'></i>Chromos</a>
    <!--Menu Icon-->
    <i class="bx bx-menu" id="menu-icon"></i>
    <!--Nav list-->
    <ul class="navbar">
    <li><a href="index.html">Início</a></li>   
    <li><a href="#about">Sobre Nós</a></li>  
    <li><a href="produtos.html">Produtos</a></li> 
    <li><a href="carrinho.html">Carrinho</a></li> 
    <li><a href="#contact">Contato</a></li>
    </ul>
    <div class="col">
      <h5>Institucional</h5>
      <ul class="list-unstyled">
        <li>
          <a href="../politica-de-privacidade.html">Política de Privacidade</a>
        </li>
        <li><a href="../duvida-frequenteshtml.html">Dúvida Frequentes</a></li>
      </ul>
    </div>
  </div>
</footer>
